
body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* 让背景覆盖整个视口 */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: rgba(255, 255, 255, 0.8); /* 透明白色背景，确保文本可读 */
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
